Web References/coordinador/coordinador.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MediaAlumnos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MediaAlumnosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MediaAlumnosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="MediaAlumnosSoapIn">
    <wsdl:part name="parameters" element="tns:MediaAlumnos" />
  </wsdl:message>
  <wsdl:message name="MediaAlumnosSoapOut">
    <wsdl:part name="parameters" element="tns:MediaAlumnosResponse" />
  </wsdl:message>
  <wsdl:portType name="coordinadorSoap">
    <wsdl:operation name="MediaAlumnos">
      <wsdl:input message="tns:MediaAlumnosSoapIn" />
      <wsdl:output message="tns:MediaAlumnosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="coordinadorSoap" type="tns:coordinadorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MediaAlumnos">
      <soap:operation soapAction="http://tempuri.org/MediaAlumnos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="coordinadorSoap12" type="tns:coordinadorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MediaAlumnos">
      <soap12:operation soapAction="http://tempuri.org/MediaAlumnos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="coordinador">
    <wsdl:port name="coordinadorSoap" binding="tns:coordinadorSoap">
      <soap:address location="http://hads16-ji.azurewebsites.net/coordinador.asmx" />
    </wsdl:port>
    <wsdl:port name="coordinadorSoap12" binding="tns:coordinadorSoap12">
      <soap12:address location="http://hads16-ji.azurewebsites.net/coordinador.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>